.modal_query_wrapper {
  width: 40vw;
  height: 35vh;
  margin: 0 auto;
  background-color: rgb(253, 145, 4);
  box-shadow: 10px 10px 10px rgb(134, 77, 1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -15vh;
}
.btn_modal {
  width: 70%;
  margin-top: -1vh;
}
.input_modal {
  width: 90%;
  min-height: 5vh;
  text-align: center;
  font-weight: 700;
  color: orangered;
  margin: 3vh auto;
}

.visibility_modal {
  display: none;
}
