.btnStart_wrapper {
  width: 98vw;
  display: flex;
  justify-content: center;
}

.btn {
  width: 15vw;
  min-height: 6vh;
  background-color: rgb(56, 235, 79);
  color: #2c0247;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 10px rgb(28, 139, 28);
  margin: 5vh auto;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover {
  transition: 1s;
  transform: translateY(-7px);
  box-shadow: 2px 8px 3px rgb(20, 143, 37);
  color: rgb(250, 5, 119);
  background-color: rgb(56, 235, 79);
  font-weight: 900;
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 3px 3px 4px rgb(20, 143, 37);
  transition: 0.3s;
}

.btn__modalClose {
  width: 4vw;
  background-color: rgb(116, 5, 243);
  box-shadow: 2px 8px 3px rgb(46, 5, 92);
}
.btn__modalClose:hover {
  background-color: rgb(116, 5, 243);
  box-shadow: 2px 8px 3px rgb(46, 5, 92);
}
.btn__modalClose:active {
  background-color: rgb(116, 5, 243);
  box-shadow: 2px 8px 3px rgb(46, 5, 92);
}
