.container {
  min-width: 98vw;
  min-height: 95vh;
}
.wrapper_tasks {
  width: 70%;
  max-height: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(60, 95, 7);
  background: rgb(222, 225, 247);
}

table {
  min-width: 100%;
  box-shadow: 7px 7px 15px rgb(62, 62, 105);
  border-collapse: collapse;
}
th {
  height: 10vh;
  border: 1px solid green;
}

td {
  border: 1px solid green;
  height: 5vh;
  font-weight: 500;
  color: rgb(47, 4, 87);
  font-style: italic;
  font-weight: 700;
}
.first_el {
  width: 70%;
}
.btn_task {
  text-align: center;
}
.btn_task button {
  cursor: pointer;
}
.btn_task button:hover {
  transform: scale(110%);
  transition: 1s;
}
.current_task,
.hasDone {
  padding-left: 1vw;
}

.hasDone {
  text-decoration: line-through;
  color: rgb(161, 4, 151);
  background-color: rgb(248, 164, 37);
}
